html {
    background-color: bisque;
    /* background-image: url(/texas.jpg); */
    background-image: url(/gate.jpeg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header {
    font-family: Acme;
    text-align: center;
    font-size: 3vw;
    margin: auto;
    margin-bottom: 10px
    
}

@media screen and (min-width: 1200px) {
    header {
       font-size: 36px;
    }
  }




form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: Montserrat;
    font-weight: 600;
    background-color: rgba(127, 183, 209, 0.747);
    padding: 2em;
    border-radius: 2em;
    margin-bottom: 4em;
    margin-top: 2em;
    text-align: center;
}

input {
    margin:auto;
}

select {
    margin: auto;
}

.formDiv {
    margin: auto;
}

input {
    max-width: 200px;
}

footer {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(127, 183, 209, 0.3);
    padding: 2em;
    font-family: Montserrat;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: 600;

}

.main {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pic {
    /* background-image: url(/gate.jpeg); */
   
    width: 420px;
    margin: 0;
    font-family: Montserrat;
    margin: auto;
    text-align: center;
    background-color: rgba(127, 183, 209, 0.74);
    padding: 2em;
    border-radius: 2em;
    margin-bottom: 4em;
    margin-top: 2em;
    font-weight: 700;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.title {
    margin-bottom: 0px;
}

.subhead {
    margin-top: 0px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        align-content: center;
    }

    .form {
        
        width: 70vw;
        
        height: 250px;
        position: absolute;
        padding: 0px;
        padding-top: 30px;
        top: 110px;
        margin: auto;
        left: 15vw;
        
    }

    .container {
        position: absolute;
    left: 0px;
     top: 0px;
     align-content: center;
     text-align: center;
    }

    .pic {
        width: 70vw;
        position: absolute;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        left: 15vw;
        top: 380px;
    }

    .dateHeading {
        font-size: 18px;
        margin-top: 0px;
    }

    h4 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .head {
        font-size: 20px;
        /* position: absolute;
        top: 10px;
        left: 16px; */
        margin: auto;
    }


  }

  @media screen and (min-width: 1100px) {
    .pic {
        margin-left: 70px;
    }

    .form {
        margin-right: 100px;
        
    }

    .formDiv {
        margin-right: 70px;
    }


  }

  .container {
      display: flex;
      flex-direction: column;
  }

  input {
      height: 32px;
  }