html {
    background-color: bisque;
    background-image: url(/texas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

body {
    justify-content: flex-start;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

header {
    
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    font-family: Acme;
    justify-content: center;
    text-align: center;
    width: 100%;

    display: block;
    white-space: nowrap;
    /* overflow: none; 
    text-overflow: ellipsis; */
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Montserrat;
    background-color: rgba(127, 183, 209, 0.308);
    padding: 2em;
    border-radius: 2em;
    margin-bottom: 4em;
}

input {
    max-width: 200px;
}

footer {
    margin: auto;
    margin-top: 2em;
    background-color: rgba(127, 183, 209, 0.3);
    padding: 2em;
    font-family: Montserrat;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: 600;
}