html {
    background-color: bisque;
    background-image: url(/texas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: Acme;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Montserrat;
}

input {
    max-width: 200px;
}
